.location >p{

    margin: 0px;
    font-size: 13px;
    font-weight: 400;
}
.location>h5{

    color: black;
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.vertical-line{

    height: 100%;
    border-left: 1px solid gray;
}
.my-cart{
    background-color: green !important;
    font-size: 14px !important ;
}
.search-div{
    padding: 0px 12px;
    border: 1px solid white;
    color: rgb(130, 130,130);
    border-radius: 12px;
    background: rgb(248, 248,248);
}
.search-div>input{
    border: none;
    background-color: transparent;
    width: 40vw;
    height: 45px;
}
::placeholder{
    font-size: 14px;
    color: rgb(153,153,153);
}
.my-categories{
    width: 85%;
}
.my-container{
width: 85%;
overflow-x: scroll;
margin: auto;

}
.my-list{
    white-space: nowrap;
}
.my-list>img{
    padding-inline: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.my-card{
    width: 179px;

}
.my-card-time{
    width: fit-content;
    border-radius: 4px;
    background-color: rgb(242,242,242);
    padding: 0px 4px;
    font-weight: 700;
    color: rgb(8, 8, 8);
    font-size: 9px;
    height:10px ;

}
.my-card-title{

    /* overflow: hidden; */
    color: rgb(31, 31, 31);
    font-weight: 600;
     font-size: 13px; 
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical; */
    /* line-height: 18px; */
    /* width: 100%; */
}
.card-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}
.my-card-weight{
    color: #666;
    font-size: 12px;
    font-family: 'Okra', Helvetica;
}
.category-section{
    width: 85%;
    margin: auto;
    
    }

    .category-section-row{
        width: 100%;
        overflow-x: scroll;
        
        }
